{
    "extends": [
        "airbnb",
        "prettier"
    ],
    "rules": {
        "func-names": 0,
        "wrap-iife": 0,
        "spaced-comment": [
            "error",
            "never"
        ],
        "space-before-function-paren": [
            "error",
            "never"
        ],
        "no-var": "off",
        "no-plusplus": "off",
        "prefer-destructuring": "off",
        "no-console": "off",
        "no-prototype-builtins": "off",
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 200
            }
        ]
    },
    "env": {
        "browser": true,
        "node": true,
        "jquery": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "prettier"
    ]
}